body {
	font-family: cursive;
	font-size: 250%;
	background-color: #eeeeee;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board_box {
	color: rgba(0, 0, 0, 0);
}

.board_box:hover {
	color: rgba(0, 0, 0, 0.3);
}

